 <!--いいね機能-->
          <td id="book_<%= book.id %>">
           <!--今投稿されている本の中で現在のユーザーはいいねしていますか？-->
           <% if book.favorited_by?(current_user) %>
           <%# if Favorite.find_by(user_id: current_user.id, book_id: book.id) %>
             <p>
               <%#= link_to book_favorites_path(@book), method: :delete do %>
               <%= link_to book_favorites_path(current_user), method: :delete, remote: true do %>
                 <i class="fas fa-heart">
                   <%= book.favorites.count %> いいね
                 </i>
                <!--♥<%#= @book.favorites.count %> いいね-->
               <% end %>
             </p>
           <% else %>
             <p>
               <%#= link_to book_favorites_path(@book), method: :post do %>
               <%= link_to book_favorites_path(current_user), method: :post, remote: true do %>
                <i class="far fa-heart">
                  <%= book.favorites.count %> いいね
                </i>
                 <!--♡<%#= @book.favorites.count %> いいね-->
               <% end %>
             </p>
           <% end %>
                  
          </td>