<!--ユーザー編集ページ-->
<p>
   <h2>User info</h2>
   <%= form_with model:@user, local:true do |f| %>
   
    <!--エラー時のメッセージ-->
  <% if @user.errors.any? %>
      <div id="error_explanation">
          <h2><%= @user.errors.count %> prohibited this obj from being saved:</h2>
          <ul>
              <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
          </ul>
      </div>
  <% end %>

   <label for="inputName">Name</label></br>
   <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前", class:"mb-1"%>

 
 <p>
    <%#= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
    <label for="inputImage">Image</label>
    <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class:"form-control-file mb-1"%>
 </p>
  
  
 <p>Introduction</br>
    <%#= @user.introduction %>
    <%= f.text_field :introduction, class:"mb-1" %><%#= @user.introduction%>
    <%#= f.attachment_field :introduction, text:@user.introduction %>
 </p>

 <%= f.submit "Update User", class:"btn btn-secondary" %>
 <% end %>
 </p>